{% extends 'base_main.html' %}


{% block css %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/experience.css' %}">
{% endblock %}


{% block content %}
<div id="bangdan">
    <p align="center" style="position:relative;font-size:30px; top:65px;">资 历 榜 单</p>
    <p align="center" style="position:relative;font-size:15px; top:65px;">(2018.11)</p>
    <table class="table" style="position:relative; top:100px; width: 70%;opacity:0.75;" align="center">
        <tr align="center" style="color:red;">
            <td class="info">排名</td>
          <td class="active">角色名</td>
          <td class="success">阵营</td>
          <td class="warning">门派</td>
          <td class="danger">大区</td>
          <td class="info">服务器</td>
            <td class="active">资历</td>
        </tr>
        {% for player in list %}
        <tr align="center">
          <td class="info">{{ player.rank }}</td>
          <td class="active">{{ player.name }}</td>
          <td class="success">{{ player.war }}</td>
          <td class="warning">{{ player.menpai }}</td>
          <td class="danger">{{ player.daqu }}</td>
          <td class="info">{{ player.server }}</td>
            <td class="active">{{ player.score }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if list.has_previous %}
            <a href="?page=1">&laquo; 首页</a>
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
             {{ list.number }} / {{ list.paginator.num_pages }}
        </span>

        {% if list.has_next %}
            <a href="?page={{ list.next_page_number }}">下一页</a>
            <a href="?page={{ list.paginator.num_pages }}">尾页 &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
<div id="menpai">

</div>
{% endblock %}
