{% extends 'base_main.html' %}

{% block title %}
    奇遇查询
{% endblock %}

{% block css %}
    {% load static %}
    {{ block.super }}
<link rel="stylesheet" href="{% static 'css/qiyu.css' %}">
    <style>
        .form-control{
            position:relative;
            display:inline-block;
            width:23%;
        }
</style>
{% endblock %}

{% block js %}
    {{ block.super }}
<script src="{% static 'js/qiyu.js' %}">></script>
{% endblock %}



{% block content %}
<p align="center">奇遇查询</p>

<form align="center" method="post">
  <select class="form-control">
      {% for daqu in daqus %}
      <option value="daqu">{{ daqu.name }}</option>
      {% endfor %}
  </select>
    <select class="form-control">
        {% for server in servers %}
      <option value="server">{{ server.name }}</option>
        {% endfor %}
    </select>
    <select class="form-control">
      <option value="qiyu_category">奇遇类型</option>
    </select>
    <select class="form-control">
      <option value="qiyu_name">奇遇名称</option>
    </select>
    <input type="text" class="form-control" name="player_name" placeholder="或者输入角色查询" style="top:10px;">
    <input type="submit" class="btn btn-default" style="position:relative;top:9px;left:20px;height:35px;">
</form>
<table class="table table-condensed" style="position:absolute;;width:70%;left:15%;top:350px;background:red;opacity:0.5;">
  <tr class="success" style="color:red;">
    <td>序号</td>
    <td>大区</td>
    <td>服务器</td>
    <td>奇遇</td>
    <td>角色</td>
    <td>时间</td>
  </tr>
    {% for item in result %}
    <tr class="success">
        <td>{{ forloop.counter }}</td>
        <td>{{ item.region }}</td>
        <td>{{ item.server }}</td>
        <td>{{ item.serendipity }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.time}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

