{% extends 'base_main.html' %}

{% block title %}
    奇遇查询
{% endblock %}

{% block css %}
    {% load static %}
    {{ block.super }}
<link rel="stylesheet" href="{% static 'css/qiyu.css' %}">
    <style>
        .form-control{
        position:relative;
           display:inline-block;
           width:23%;
    }
</style>
{% endblock %}

{% block js %}
    {{ block.super }}
<script src="{% static 'js/qiyu.js' %}">></script>
{% endblock %}



{% block content %}
<p align="center">奇遇查询</p>

<form align="center">
  <select class="form-control">
      <option value="daqu">电信一区</option>
  </select>
    <select class="form-control">
      <option value="server">长安城</option>
    </select>
    <select class="form-control">
      <option value="qiyu_category">绝世奇遇</option>
    </select>
    <select class="form-control">
      <option value="qiyu_name">三山四海</option>
    </select>
    <input type="text" class="form-control" name="player_name" placeholder="或者输入角色查询" style="top:10px;">
  <button type="submit" class="btn btn-default" style="position:relative;top:9px;left:20px;">查询</button>
</form>
{% endblock %}

